* {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
  color: #515076;
  box-sizing: border-box;
  margin-left:  25px;
}

.product-card-container {
  width: 340px;
  height: 573px;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-image {
  margin-top: 25px;
  width: 290px;
  height: 245px;
}


.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #A5A3B9
}

.product-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color:#515076;
  margin-bottom: 5px;
}

.product-description {
  font-weight: 400;
  width: 287px;
  margin-bottom: 15px;
}

.compound-list {
  margin-top: 5px;
  margin-left: 14px;
  margin-bottom: 25px;
  list-style-type: circle;
}

.price-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.price-text {
  font-size: 20px;
  line-height: 24px;
  margin-right: 25px;
}

.price-space {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}